@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: 0 0% 0%;
    --background: 189 77% 95%;
    --primary: 191 80% 54%;
    --secondary: 189 79% 87%;
    --accent: 191 80% 47%;
  }
  .dark {
    --text: 178 87% 94%;
    --background: 0 0% 0%;
    --primary: 178 88% 27%;
    --secondary: 178 87% 6%;
    --accent: 178 88% 46%;
  }

  * {
    border-color: hsl(var(--text) / 0.1);
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--text) / 0.9);
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png'), auto;
  }

  ::selection {
    background-color: hsl(var(--accent) / 0.5);
  }

  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
  }

  h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  h3 {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
  }

  h4 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 700;
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
    h2 {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    h3 {
      font-size: 1.5rem;
      line-height: 2rem;
    }
    h4 {
      font-size: 1.125rem;
      line-height: 1.75rem;
    }
  }

  .layout {
    max-width: 68rem;
    width: 91.666667%;
    margin-left: auto;
    margin-right: auto;
  }

  .bg-coret::after {
    content: '';
    left: 0;
    opacity: 0.9;
    position: absolute;
    top: -70px;
    z-index: -1;
    height: 120%;
    background-color: hsl(var(--secondary));
    -webkit-mask: url('/handcoret.svg') repeat;
    mask: url('/handcoret.svg') repeat;
    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
    width: 100%;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    animation-duration: 75ms;
  }

  .min-h-main {
    min-height: calc(100vh - 82px);
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#01040900, #01040900),
      linear-gradient(to right, hsl(var(--accent)), hsl(var(--accent)));
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }

  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-within .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size:
      0 2px,
      100% 2px;
  }
}
