@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tw-clr-primary-200: 118 202 212;
  --tw-clr-primary-300: 207 231 231;
  --tw-clr-primary-400: 87 188 146;
  --tw-clr-primary-500: 1 82 75;

  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #DBFF00 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #00e887 */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #00e0f3 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #00c4fd */
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #121212;
}
::-webkit-scrollbar-thumb {
  @apply rounded bg-light-accent dark:bg-dark-accent;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
body {
  @apply text-gray-800 transition-colors bg-light-bg dark:bg-dark-bg dark:text-gray-300;
}

@font-face {
  font-family: 'Virgil';
  src: url('../../public/fonts/Virgil.woff2') format('woff2');
}

@layer base {
  /* inter var - latin */

  html {
    scroll-behavior: smooth !important;
    scroll-padding-top: 80px;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  ::selection {
    @apply bg-light-primary/50 dark:bg-dark-accent/30;
  }

  /* .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  } */

  /* #region  /**=========== Default Typography =========== */
  h1,
  .h1 {
    @apply text-2xl font-bold md:text-4xl;
  }

  h2,
  .h2 {
    @apply text-xl font-bold md:text-3xl;
  }

  h3,
  .h3 {
    @apply text-lg font-bold md:text-2xl;
  }

  h4,
  .h4 {
    @apply text-base font-bold md:text-lg;
  }

  body,
  .body {
    @apply text-sm md:text-base;
  }
  /* #endregion  /**======== Default Typography =========== */

  .layout {
    max-width: 68rem;
    @apply w-11/12 mx-auto;
  }

  .lil-layout {
    max-width: 48rem;
    @apply w-11/12 mx-auto;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  .min-h-main {
    @apply min-h-[calc(100vh-82px)];
  }
  .accent {
    @apply text-transparent dark:bg-gradient-to-r dark:from-dark-primary/90 dark:to-dark-accent bg-clip-text;
  }

  .accent-highlight {
    @apply bg- dark:bg-gradient-to-r dark:from- dark:to- dark:bg-clip-text dark:text-transparent;
  }

  .mt-nav {
    margin-top: 58px;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#01040900, #01040900),
      linear-gradient(to right, #ffffff, #05b8bb);
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  @media (prefers-reduced-motion: reduce) {
    .animated-underline {
      transition: none;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible,
  .project-card:hover .animated-underline,
  .project-card:focus-within .animated-underline,
  .project-card:focus-visible .animated-underline {
    background-size: 0 2px, 100% 2px;
  }

  /* #region  /**=========== Animate Shadow =========== */
  .animate-shadow {
    @apply after:absolute after:inset-0 after:z-[-1] after:opacity-0 after:transition-opacity hover:after:opacity-100;
    @apply after:shadow-md dark:after:shadow-none;
  }
  /* #endregion  /**======== Animate Shadow =========== */
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

[gaya-fade] {
  @apply translate-y-10 opacity-0 transition duration-[400ms] ease-out motion-reduce:translate-y-0 motion-reduce:opacity-100;
}
.fade-in-start [gaya-fade] {
  @apply translate-y-0 opacity-100;
}
.fade-in-start [gaya-fade='1'] {
  transition-delay: 100ms;
}
.fade-in-start [gaya-fade='2'] {
  transition-delay: 200ms;
}
.fade-in-start [gaya-fade='3'] {
  transition-delay: 300ms;
}
.fade-in-start [gaya-fade='4'] {
  transition-delay: 400ms;
}
.fade-in-start [gaya-fade='5'] {
  transition-delay: 500ms;
}
.fade-in-start [gaya-fade='6'] {
  transition-delay: 600ms;
}
.fade-in-start [gaya-fade='7'] {
  transition-delay: 700ms;
}
.fade-in-start [gaya-fade='8'] {
  transition-delay: 800ms;
}

.section1 {
  font-size: 16px;
  width: 16px;
  height: 16px;
  fill: currentColor;
}

.font-doodle {
  font-family: 'Virgil', sans-serif;
}

.projectcard img {
  filter: brightness(40%);
  transition: filter 0.5s ease-in-out;
}

.projectcard:hover img,
.projectcard:focus-within img {
  filter: none;
}

/* styles.css */
.TooltipContent {
  animation-duration: 0.8s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}
.TooltipContent[data-side='top'] {
  animation-name: slideUp;
}
.TooltipContent[data-side='bottom'] {
  animation-name: slideDown;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bgpattern {
  background-color: @apply bg-dark-bg;
}
